---
export const prerender = true;

import Layout from '../layouts/Layout.astro';
---

<Layout title="About">
  <div class="contentsection">
    <!--sits-->
    <div class="contentdiv">
      <div class="contentsep">
        <h1 class="text-sky-200">Safe</h1>
        <h2>
          about.<br
          /><br />
        </h2>
      </div>
      <img src="image.png" />
    </div>
  </div>
</Layout>