---
import Layout from "../layouts/Layout.astro";
import { Image } from 'astro:assets';
---

<Layout title="Welcome to Astro.">
  <div class="contentsection">
    <!--sits-->
    <div class="contentdiv">
      <div class="contentsep">
        <h1>
          Safe
        </h1>
        <h2>
         Esta pagina web es tan segura que hicimos que la trolonga de justPrintF haga una nueva amistad con el fracasado de mackend<br /><br />
        </h2>
      </div>
     <img src="public/image.png"></Image>
    </div>
  </div>
</Layout>
