---
export const prerender = true;

import Layout from '../layouts/Layout.astro';
---

<Layout title="Messisipi">
import Layout from "../layouts/Layout.astro";
import { Image } from 'astro:assets';
---

<Layout title="Welcome to Astro.">
  <div class="contentsection">
    <!--sits-->
    <div class="contentdiv">
      <div class="contentsep">
        <h1 class="text-sky-200">Safe</h1>
        <h2>
          Esta pagina web no recolecta videos, imagenes o datos personales que
          sean ingresados, tambien cuenta con seguridad anti-robo de datos.<br
          /><br />
        </h2>
      </div>
      <img src="image.png" />
    </div>
  </div>
</Layout>
